<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - DeveFolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
</head>
<body>
    <main>
    <div class="container-principal">
        <div class="lado-direito">
            <h1>Bem-vindo(a)! ao DeveFolio</h1>
            <p>Ficamos felizes em tê-lo(a) conosco!</p>
            <p>Crie sua conta para acessar seu portfólio e começar sua jornada de desenvolvimento.</p>
        </div>
        <div class="lado-esquerdo">
            <h2>Criar Conta </h2>
            <a href="{{ url_for('entrar') }}" class="btn-voltar"> &larr; Voltar</a>
            <form action="cadastro" method="post">
                <input type="text" name="nome" placeholder="Nome Completo">
                <input type="email" name="email" placeholder="Seu E-mail">
                <input type="tel" name="telefone" placeholder="(00) 00000-0000" pattern="\(\d{2}\) \d{5}-\d{4}" required>
                <div class="campo_senha">
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" required>
                <!-- Ícone de olho para mostrar/ocultar senha -->
                <button type="button" onclick="togglePasswordVisibility()">&#128065;</button>
                </div>
                <p>A senha deve conter pelo menos 8 caracteres, incluindo letras maiúsculas, minúsculas, números e caracteres especiais.</p>
                <p>Criptografia de ponta a ponta.</p>
                <button type="submit">Criar Conta</button>
            </form>
            <p>Ao criar uma conta, você concorda com nossos <a href="privacidade">Termos de Serviço</a>
<br> e nossa <a href="privacidade">Política de Privacidade</a>.</p>
        </div>
    </main>

    <script>
        function togglePasswordVisibility() {
            var senhaInput = document.getElementById("senha");
            if (senhaInput.type === "password") {
                senhaInput.type = "text";
            } else {
                senhaInput.type = "password";
            }
        }
    </script>
</body>
</html>
