<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Entrar - DeveFolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='entrar.css') }}">
</head>
<body>
    <main>
        <div class="container-principal">
            <div class="lado-esquerdo">
                <!-- formulario de login -->
                <h2>Entrar</h2>
                {% if erro %}
                    <p class="erro">{{erro}}</p>
                {% endif %}
                <form action="{{ url_for('entrar') }}" method="post">
                    <input type="text" name="email" placeholder="Email" required>
                <div class="campo-senha">
                    <input type="password" id="senha" name="senha" placeholder="Senha" required>
                    <p>criptografia de ponta a ponta.</p>
                    <button type="button" onclick="togglePasswordVisibility()"> &#128065; </button>
                    <!-- link para entrar -->
                    <button type="submit">Entrar</button>  
                </form>
                <div class="container-botao">
                    <!-- link para cadastro -->
                        <a href="{{ url_for('cadastro') }}" class="btn">Não tem conta?</a>
                    <a href="{{ url_for('index') }}"class="btn">volta</a>
                </div>
                </div>
            </div>
                <!-- cores -->
            <div class="lado-direito">
                <p>Estamos felizes em vê-lo(a) novamente.</p>
                <p>Faça login para acessar sua conta e aproveitar todos os recursos do DeveFolio.</p>
            </div>
        </div>
        </div>
        <div>
    <script>
        function togglePasswordVisibility() {
            const senhaInput = document.getElementById("senha");
            if (senhaInput.type === "password") {
                senhaInput.type = "text";
            } else {
                senhaInput.type = "password";
            }
        }
    </script>
    </div>
    </main>
</body>
</html>
