<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Entrar - DeveFolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='entrar.css') }}">
</head>
<body>
    <div class="container-principal">
        <div class="lado-direito">
            <h1>Bem-vindo(a)! novamente!</h1>
            <p>Ficamos felizes em tê-lo(a) de volta!</p>
        </div>
        <div class="lado-esquerdo">
            </form>
            <p>Não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se aqui</a>.</p>
        </div>

</body>
</html>
