<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>saida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='final.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap" rel="stylesheet"/>
</head>
<body>
    <main>
        <div class="container-pai">
        <h1>DevFolio</h1>
        <p>Agradecemos por visitar nosso site</p>
        <div class="container-um">
            <p>github.com/Falcaozitos3-rgb</p>
        </div>
        <div class="container-dois">
            <p>Evariso004@gmail.com</p>
        </div>
        </div>
    </main>
</body>
</html>